-

DROP TABLE IF EXISTS `customers`;

CREATE TABLE `customers` (
  `Customer_ID` int DEFAULT NULL,
  `First_Name` varchar(50) DEFAULT NULL,
  `Last_Name` varchar(50) DEFAULT NULL,
  `Gender` varchar(20) DEFAULT NULL,
  `Date_of_Birth` date DEFAULT NULL,
  `Email` varchar(100) DEFAULT NULL,
  `Phone` varchar(20) DEFAULT NULL,
  `Address` varchar(255) DEFAULT NULL,
  `City` varchar(50) DEFAULT NULL,
  `State` varchar(50) DEFAULT NULL,
  `Country` varchar(50) DEFAULT NULL,
  `Postal_Code` varchar(20) DEFAULT NULL,
  `Registration_Date` date DEFAULT NULL,
  `Customer_Status` varchar(20) DEFAULT NULL,
  KEY `idx_customers_customer_id` (`Customer_ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;


DROP TABLE IF EXISTS `order_items`;

CREATE TABLE `order_items` (
  `Order_Item_ID` int DEFAULT NULL,
  `Order_ID` int DEFAULT NULL,
  `Product_ID` int DEFAULT NULL,
  `Quantity` int DEFAULT NULL,
  `Unit_Price` decimal(10,2) DEFAULT NULL,
  `Discount` decimal(10,2) DEFAULT NULL,
  `Tax` decimal(10,2) DEFAULT NULL,
  `Total_Amount` decimal(12,2) DEFAULT NULL,
  KEY `idx_order_items_order_id` (`Order_ID`),
  KEY `idx_order_items_product_id` (`Product_ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;


DROP TABLE IF EXISTS `orders`;

CREATE TABLE `orders` (
  `Order_ID` int DEFAULT NULL,
  `Customer_ID` int DEFAULT NULL,
  `Order_Date` date DEFAULT NULL,
  `Shipping_Address` varchar(255) DEFAULT NULL,
  `City` varchar(50) DEFAULT NULL,
  `State` varchar(50) DEFAULT NULL,
  `Postal_Code` varchar(20) DEFAULT NULL,
  `Order_Total` decimal(12,2) DEFAULT NULL,
  `Order_Status` varchar(30) DEFAULT NULL,
  `Payment_Status` varchar(30) DEFAULT NULL,
  KEY `idx_orders_order_id` (`Order_ID`),
  KEY `idx_orders_customer_id` (`Customer_ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;


DROP TABLE IF EXISTS `payments`;

CREATE TABLE `payments` (
  `Payment_ID` int DEFAULT NULL,
  `Order_ID` int DEFAULT NULL,
  `Transaction_ID` varchar(100) DEFAULT NULL,
  `Payment_Method` varchar(50) DEFAULT NULL,
  `Payment_Amount` decimal(12,2) DEFAULT NULL,
  `Payment_Date` date DEFAULT NULL,
  `Payment_Status` varchar(30) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;


DROP TABLE IF EXISTS `products`;

CREATE TABLE `products` (
  `Product_ID` int DEFAULT NULL,
  `Product_Name` varchar(255) DEFAULT NULL,
  `Brand` varchar(100) DEFAULT NULL,
  `Category` varchar(100) DEFAULT NULL,
  `Price` decimal(10,2) DEFAULT NULL,
  `Cost_Price` decimal(10,2) DEFAULT NULL,
  `Stock` int DEFAULT NULL,
  `Weight` decimal(10,2) DEFAULT NULL,
  `Launch_Date` date DEFAULT NULL,
  `Seller_ID` int DEFAULT NULL,
  `Product_Status` varchar(20) DEFAULT NULL,
  KEY `idx_products_product_id` (`Product_ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;


DROP TABLE IF EXISTS `returns`;

CREATE TABLE `returns` (
  `Return_ID` int DEFAULT NULL,
  `Order_ID` int DEFAULT NULL,
  `Delivery_Date` date DEFAULT NULL,
  `Return_Date` date DEFAULT NULL,
  `Return_Reason` varchar(100) DEFAULT NULL,
  `Refund_Amount` decimal(12,2) DEFAULT NULL,
  `Return_Status` varchar(30) DEFAULT NULL,
  KEY `idx_returns_order_id` (`Order_ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;


DROP TABLE IF EXISTS `reviews`;

CREATE TABLE `reviews` (
  `Review_ID` int DEFAULT NULL,
  `Customer_ID` int DEFAULT NULL,
  `Product_ID` int DEFAULT NULL,
  `Rating` int DEFAULT NULL,
  `Review_Text` text,
  `Review_Date` date DEFAULT NULL,
  KEY `idx_reviews_customer_id` (`Customer_ID`),
  KEY `idx_reviews_product_id` (`Product_ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;


DROP TABLE IF EXISTS `sellers`;

CREATE TABLE `sellers` (
  `Seller_ID` int DEFAULT NULL,
  `Seller_Name` varchar(100) DEFAULT NULL,
  `Contact_Name` varchar(100) DEFAULT NULL,
  `Email` varchar(100) DEFAULT NULL,
  `Phone` varchar(20) DEFAULT NULL,
  `GST_Number` varchar(30) DEFAULT NULL,
  `City` varchar(50) DEFAULT NULL,
  `State` varchar(50) DEFAULT NULL,
  `Postal_Code` varchar(20) DEFAULT NULL,
  `Rating` decimal(3,1) DEFAULT NULL,
  `Registration_Date` date DEFAULT NULL,
  `Seller_Status` varchar(20) DEFAULT NULL,
  KEY `idx_sellers_seller_id` (`Seller_ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;


DROP TABLE IF EXISTS `shipments`;

CREATE TABLE `shipments` (
  `Shipment_ID` int DEFAULT NULL,
  `Order_ID` int DEFAULT NULL,
  `Warehouse_ID` int DEFAULT NULL,
  `Tracking_Number` varchar(100) DEFAULT NULL,
  `Courier` varchar(100) DEFAULT NULL,
  `Shipment_Date` date DEFAULT NULL,
  `Delivery_Date` date DEFAULT NULL,
  `Shipment_Status` varchar(30) DEFAULT NULL,
  KEY `idx_shipments_order_id` (`Order_ID`),
  KEY `idx_shipments_warehouse_id` (`Warehouse_ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;


DROP TABLE IF EXISTS `warehouses`;

CREATE TABLE `warehouses` (
  `Warehouse_ID` int DEFAULT NULL,
  `Warehouse_Name` varchar(100) DEFAULT NULL,
  `Address` varchar(255) DEFAULT NULL,
  `City` varchar(50) DEFAULT NULL,
  `State` varchar(50) DEFAULT NULL,
  `Country` varchar(50) DEFAULT NULL,
  `Postal_Code` varchar(20) DEFAULT NULL,
  `Capacity` int DEFAULT NULL,
  `Manager_Name` varchar(100) DEFAULT NULL,
  `Contact_Number` varchar(20) DEFAULT NULL,
  `Warehouse_Status` varchar(20) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
